[package]
name = "SpeeDict"
version = "0.3.3"
edition = "2021"
description = "Speedb Python Binding"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "speedict"
crate-type = ["cdylib"]

[dependencies]
speedb = { git = "https://github.com/Congyuwang/rust-rocksdb", tag = "speedict-v2.4.1" }
libspeedb-sys = { git = "https://github.com/Congyuwang/rust-rocksdb", tag = "speedict-v2.4.1" }
pyo3-log = "0.8"
log = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.87"
num-bigint = "^0.4.3"
libc = "0.2.112"

[dependencies.pyo3]
version = "0.19"
features = ["extension-module", "num-bigint"]
