[package]
name = "RocksDict"
version = "0.2.1"
edition = "2021"
description = "On-disk Dict With RocksDB (dbm alternative)"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "rocksdict"
crate-type = ["cdylib"]

[dependencies]
rocksdb = "=0.17.0"
ahash = "^0.7"
integer-encoding = "^3.0"
libc = "0.2.112"

[dependencies.pyo3]
version = "~0.15"
features = ["extension-module"]